{% extends 'layout.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/discographie.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{% endblock %}


{% block content %}

    <div class="contentAlbum">
<section>
    <ul class="slides">
        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
            <div class="slide">
                <img src="https://cps-static.rovicorp.com/3/JPG_500/MI0000/617/MI0000617057.jpg?partner=allrovi.com" id="st" />
            </div>
            <div class="nav">
                <label for="img-6" class="prev">&laquo;</label>
                <label for="img-2" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://i.ytimg.com/vi/kMZSJCgn_K8/maxresdefault.jpg"  id="ver"/>
            </div>
            <div class="nav">
                <label for="img-1" class="prev">&laquo;</label>
                <label for="img-3" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://img.discogs.com/VTzCQN-1dXXHaXovmDnD0gd4Al8=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1463085-1462129034-4208.jpeg.jpg" id="bg" />
            </div>
            <div class="nav">
                <label for="img-2" class="prev">&laquo;</label>
                <label for="img-4" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51q32f9c8QL.jpg" id="blm" />
            </div>
            <div class="nav">
                <label for="img-3" class="prev">&laquo;</label>
                <label for="img-5" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://lumiere-a.akamaihd.net/v1/images/Jabba-The-Hutt_b5a08a70.jpeg?region=0%2C0%2C1200%2C675&width=768" id="nykop" />
            </div>
            <div class="nav">
                <label for="img-4" class="prev">&laquo;</label>
                <label for="img-6" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-6" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://vignette.wikia.nocookie.net/southpark/images/1/16/ChristianRockHard10.jpg/revision/latest?cb=20100407054638" id="slb" />
            </div>
            <div class="nav">
                <label for="img-5" class="prev">&laquo;</label>
                <label for="img-1" class="next">&raquo;</label>
            </div>
        </li>

        <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
            <label for="img-6" class="nav-dot" id="img-dot-6"></label>
        </li>
    </ul>

    <div class="stBlurb" id="stBlurb">
        <h2>Garbage</h2>
        <span>Released in 1995</span>
        <br>
        <h5>Singles released:</h5> <span>Vow, Subhuman (UK only), Only Happy When It Rains, Queer, Stupid Girl, Milk</span>
        <br>
        <h5>About the recording:</h5> <span>The self-titled first album began as a studio project. It was recoded in their own studio, Smart Studios, Madison, WI, USA. </span>
    </div>
    <div class="verBlurb" id="verBlurb">
        <h2>Version 2.0</h2>
        <span>Released in 1998</span>
        <br>
        <h5>Singles released:</h5> <span>Push It, I Think I'm Paranoid, Special, When I Grow Up, The Trick Is To Keep Breathing, You Look So Fine</span>
        <br>
        <h5>About the recording:</h5> <span>The critically-acclaimed sophomore album was their most popular state-side, and was nominated for two Grammys in 1999: Album of the Year and Best Rock Album. In 2000, the third single, "Special", was nominated for a further two Grammys: Best Rock Song and for Best Rock Performance by a Duo or Group. </span>
    </div>

    <div class="bgBlurb" id="bgBlurb">
        <h2>beautifulgarbage</h2>
        <span>Released in 2001</span>
        <br>
        <h5>Singles released:</h5> <span>Cherry Lips, Androgyny, Breaking Up the Girl, Shut Your Mouth</span>
        <br>
        <h5>About the recording:</h5> <span>Perhaps the most under-rated of the band's albums. Garbage reached into new territory using more electronic- and pop-heavy sound, and emotionally-laden lyrics. The album did not sell well at the time but boasts many hidden gems including "Cup of Coffee" and "Drive You Home". Also perhaps the most LGBT-rights and struggles themed of the albums, which was unusual for the time.</span>
    </div>
    <div class="blmBlurb" id="blmBlurb">
        <h2>Bleed Like Me</h2>
        <span>Released in 2005</span>
        <br>
        <h5>Singles released:</h5><span> Bleed Like Me, Why Do You Love Me?, Sex Is Not The Enemy, Run Baby Run</span>
        <br>
        <h5>About the recording:</h5> <span>Following the strong electronica presence on the previous album, the follow-up "Bleed Like Me" has a much stronger rock vibe, with every song featuring guitar heavily. The band is still not shying away from social issues, as the themes of LGBT and mental health struggles thread through the album as they did the last.</span>
    </div>
    <div class="nykopBlurb" id="nykopBlurb">
        <h2>Not Your Kind of People</h2>
        <span>Released in 2012</span>
        <br>
        <h5>Singles released:</h5> <span>Battle In Me, Not Your Kind of People, Blood for Poppies, Automatic Systematic Habit</span>
        <br>
        <h5>About the recording:</h5> <span>Fans of the band were happy to see the the band return to their dark, rock-centric roots. </span>
    </div>
    <div class="slbBlurb" id="slbBlurb">
        <h2>Strange Little Birds</h2>
        <span>Released in 2016</span>
        <br>
        <h5>Singles released:</h5> <span>Even Though Our Love Is Doomed, Empty</span>
        <br>
        <h5>About the recording:</h5> <span>The band's latest recording. A deep-dive into early Garbage 90s-era rock-electronica fusion, not as polished as a few of the later albums became. Sure to be a favourite of long-time listeners and rock fans alike.</span>
    </div>
</section>
    </div>







{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/js/discographie.js"></script>
{% endblock %}