{% extends 'layout.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/discographie.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}


{% block content %}

<section>
    <div class="contentAlbum">
    <ul class="slides">

        <!-- ALBUM 1 -->

        <input type="radio" name="radio-btn" id="img-1" checked />
        <li class="slide-container">
            <div class="slide">
                <img src="https://cps-static.rovicorp.com/3/JPG_500/MI0000/617/MI0000617057.jpg?partner=allrovi.com" id="st" />
            </div>

            <div class="nav">
                <label for="img-6" class="prev">&laquo;</label>
                <label for="img-2" class="next">&raquo;</label>
            </div>
        </li>

            <input type="radio" name="radio-btn" id="img-2" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://i.ytimg.com/vi/kMZSJCgn_K8/maxresdefault.jpg"  id="ver"/>
            </div>
            <div class="nav">
                <label for="img-1" class="prev">&laquo;</label>
                <label for="img-3" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-3" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://img.discogs.com/VTzCQN-1dXXHaXovmDnD0gd4Al8=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1463085-1462129034-4208.jpeg.jpg" id="bg" />
            </div>
            <div class="nav">
                <label for="img-2" class="prev">&laquo;</label>
                <label for="img-4" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-4" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51q32f9c8QL.jpg" id="blm" />
            </div>
            <div class="nav">
                <label for="img-3" class="prev">&laquo;</label>
                <label for="img-5" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-5" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://lumiere-a.akamaihd.net/v1/images/Jabba-The-Hutt_b5a08a70.jpeg?region=0%2C0%2C1200%2C675&width=768" id="nykop" />
            </div>
            <div class="nav">
                <label for="img-4" class="prev">&laquo;</label>
                <label for="img-6" class="next">&raquo;</label>
            </div>
        </li>

        <input type="radio" name="radio-btn" id="img-6" />
        <li class="slide-container">
            <div class="slide">
                <img src="https://vignette.wikia.nocookie.net/southpark/images/1/16/ChristianRockHard10.jpg/revision/latest?cb=20100407054638" id="slb" />
            </div>
            <div class="nav">
                <label for="img-5" class="prev">&laquo;</label>
                <label for="img-1" class="next">&raquo;</label>
            </div>
        </li>

        <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            <label for="img-4" class="nav-dot" id="img-dot-4"></label>
            <label for="img-5" class="nav-dot" id="img-dot-5"></label>
            <label for="img-6" class="nav-dot" id="img-dot-6"></label>
        </li>
    </ul>
        <div id="volet_clos">
            <div id="volet">
                <p>Vas-y Francky c'est bon</p>
                <p>titre chanson</p>
                <p>titre chanson</p>
                <p>titre chanson</p>
                <p>titre chanson</p>
                <p>titre chanson</p>

                <a href="#volet" class="ouvrir">Ouvrir !</a>
                <a href="#volet_clos" class="fermer">fermer !</a>
            </div>
    </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/js/discographie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
{% endblock %}