{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}


    <!--Footer-->
    <footer class="page-footer font-small pt-4 mt-4">

        <!--Footer Links-->
        <div class="container text-center text-md-left">
            <div class="row">

                <!--First column-->
                <div class="col-lg-6 col-sm-12 listenTo">
                    <h5>Ecoutez-nous sur :</h5>
                    <a href="https://www.apple.com/fr/itunes/"><img src="/assets/images/pictoRS/pictoItunes.png"></a>
                    <a href="https://soundcloud.com/"><img src="/assets/images/pictoRS/pictoSound.png"></a>
                    <a href="https://www.spotify.com/fr/"><img src="/assets/images/pictoRS/pictoSpotify.png"></a>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-lg-6 col-sm-12 followers">

                    <h5>Suivez-nous sur :</h5>

                    <a href="https://fr-fr.facebook.com/wildcodeschool/"><img src="/assets/images/pictoRS/pictoFB.png"></a>
                    <a href="twitter.com/WildStrasbourg"><img src="/assets/images/pictoRS/pictoTweet.png"></a>
                    <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw"><img src="/assets/images/pictoRS/pictoYoutube.png"></a>
                    <a href="https://www.instagram.com/wildcodeschool/?hl=fr"><img src="/assets/images/pictoRS/pictoInstagram.png"></a>


                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright: Site créé par Kyle, Maxime et Coralie
        </div>
        <!--/.Copyright-->

    </footer>
