{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

<header class="main-header">

    <!-- titre -->
    <div class="main-header-inner clearfix">
        <div class="main-brand">
            <a href="#">Franck & the Wilders</a>
        </div>
        <div class="nav-trigger" onclick="document.querySelector('body').classList.toggle('nav-visible');">
            <div class="fatw-icon"> <!-- LOGO -->
                <img class="img-responsive logo" src="/assets/images/logo/fatw.png" alt="fatw">
            </div>
            <div class="hamburger-icon"><span></span></div>
        </div>

        <nav class="main-nav">
            <div class="main-nav-inner">
                <div class="main-nav-brand">
                    <a href="#">Franck and the Wilders</a>
                </div>
                <div class="main-nav-close">
                    <button onclick="document.querySelector('body').classList.toggle('nav-visible');"><img src="https://ua-1.cdn-fullscreendirect.com/10523/2018_0202_10523_7980.svg" alt=""></button>
                </div>
                <div class="main-nav-site">

                    <ul>
                        <li><a href="/accueil">Accueil</a></li>
                        <li><a href="/Worldtour">Prochains concerts</a></li>
                        <li><a href="/Discographie">Discographie</a></li>
                        <li><a href="/Galerie">Galerie</a></li>
                        <li><a href="/Goodies">Goodies</a></li>
                        <li><a href="/fanClub">Fan club</a></li>

                    </ul>
                </div>
            </div>
        </nav>

</header>