{% extends 'layout.html.twig' %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/worldTour.css">
    {% endblock %}




    {% block content %}
        <!-- Encart visuel Prochains Concerts -->
        <section class="worldTitle">
            <h1>Prochains concerts</h1>
        </section>

        <!-- Corps de la page + Insertion tableau SQL -->
        <section class="worldSection">
            <div class="container-fluid">
                <table class="col-xs-8 tableWorldtour">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Ville</th>
                        <th>Lieux</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- a faire
                    <?php
                  //on récupérer les données de l'exécution de la requete de selection
                  $donnees = $prep->fetchAll();
                    //on parcours le résultat pour les mettre dans la table
                    foreach($donnees as $data)
                    {
                    echo "<tr><td>".$data['date']."</td>";
                        echo "<td>".$data['ville']."</td>";
                        echo "<td>".$data['lieux']."</td></tr>";
                    }
                    ?>
                    -->
                    </tbody>
                </table>
            </div>
        </section>
























    {% endblock %}

