.DS_Store
\.idea/

hardcore_MVC-master/public/assets/\.DS_Store

hardcore_MVC-master/public/\.DS_Store

hardcore_MVC-master/\.DS_Store

hardcore_MVC-master/src/\.DS_Store

hardcore_MVC-master/app/db\.php
