{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block header %}

{% endblock %}

        {% block content %}
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

                <a class="navbar-brand" href="/logout">Déconnexion</a>
                <h5>Bonjour M. Olivier</h5>
            </nav>


            <div class="container-fluid">
                <div class="row">
                    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                        <ul class="nav nav-pills flex-column">

                            <li class="nav-item">
                                <a class="nav-link" href="/adminPage">Tableau de bord </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/adminGoodies">Goodies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/adminWorldtour">Prochains concerts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/adminArticle">Actualité </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="/adminFanclub">Newsletter</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/adminGalerie">Galerie photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/adminDiscographie">Discographie<span class="sr-only">(current)</span></a>
                            </li>

                        </ul>


                    </nav>


                    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                        <h1>Discographie</h1>


                        <form action="" enctype="multipart/form-data" method="post">

                            <div>
                                <label for='upload'>Pochette album:</label>
                                <input id='upload' name="upload[]" type="file" multiple="multiple" />
                            </div>
                            <div>

                                <label for="chanson">Titre chanson 1 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 2 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 3 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 4 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 5 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 6 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 7 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 8 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 9 </label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="chanson">Titre chanson 10</label>
                                <input type="text">
                            </div>
                            <div>
                                <p><input type="submit" name="submit" value="Ajouter" class="btn btn-success"></p>
                                <br><br>
                            </div>


                        </form>


                    </main>
                </div>
            </div>




        {% endblock %}

{% block footer %}
{% endblock %}

