    {% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block header %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

        <a class="navbar-brand" href="/logout">Déconnexion</a>
        <h5>Bonjour M. Olivier</h5>
    </nav>


<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">

                <li class="nav-item">
                    <a class="nav-link" href="/adminPage">Tableau de bord </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/adminGoodies">Goodies<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/adminWorldtour">Prochains concerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/adminArticle">Actualité </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/adminFanclub">Newsletter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/adminGalerie">Galerie photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminDiscographie">Discographie</a>
                </li>

            </ul>


        </nav>

        {% endblock %}

        {% block content %}




        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>Goodies</h1>

            <div class="container">
                <form action="/addGoodies" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Catégorie</label>
                            <select class="form-control" name="categorie_id">
                            {% for entity in categorie %}
                                <option value="{{ entity.id }}">{{ entity.type }}</option>
                            {% endfor %}
                           </select>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                        <input type="file" name="fichier[]" multiple="multiple" />
                    </div>
                    <div class="form-group">
                            <label for="formGroupExampleInput2">Référence</label>
                            <input type="text" class="form-control" name="reference" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                            <label for="formGroupExampleInput2">Prix</label>
                            <input type="text" class="form-control" name="prix" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="stock">
                            <option value="dispo">disponible</option>
                            <option value="rupture">rupture de stock</option>
                        </select>
                    </div>
                <input type="submit" name="submit_envoyer" value="Submit" class="btn btn-success">
            </form>
        </div>

        </main>




{% endblock %}

{% block footer %}
{% endblock %}

